/*------------ESTILOS PAGINA SOBRE MÃ-----------*/

#contenedor{
    background-color: black;
}

#sobremi{
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(38, 38, 38);
    color: white;
    font-family: sans-serif;
}

#sobremi h1{
    text-align: center;
    font-size: 30px;
    
}

#sobremi .article h2{
    margin: 20px 0;
}

#sobremi .article p{
    color: rgb(172, 172, 172);
    font-family: sans-serif;
    font-size: 16px;
}

#sobremi .article h3{
    margin: 10px 0;
    color: rgb(199, 199, 199);
}

#sobremi .article span{
    font-weight: bold;
    
}

/* #contenedor #header ul>li:nth-child(2) {
    border-bottom: 3px solid cyan;
} */

